.blog {
  /* border: 1px solid red; */
  padding: 0 5rem;
}

.blogPostItem {
  /* border: 1px solid red; */
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  opacity: 0.7;
  transition: opacity 300ms ease-in-out;
  border-bottom: 3px solid var(--dark2);
}

.blogPostItemContent {
  /* border: 1px solid yellow; */
  max-width: 600px;
}

.blogPostItemFrontmatter {
  /* border: 1px solid cyan; */
  margin-bottom: 1rem;
}

.blogPostItemFrontmatter h2 {
  display: inline;
  transition: color 300ms ease-in;
  margin-right: 1.5rem;
}

.blogPostItemFrontmatter span {
  opacity: 0.7;
}

.blogPostItemIcon {
  /* border: 1px solid lawngreen; */
  height: 82px;
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(3rem);
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.blogPostItem:hover {
  opacity: 1;
}

.blogPostItem:hover .blogPostItemIcon {
  opacity: 1;
  transform: translateX(0rem);
}

.blogPostItem:hover h2 {
  color: var(--orange);
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  
}

@media (max-width: 650px) {
  .blog {
    padding: 0 1.5rem;
  }

  .blogPostItemFrontmatter h2 {
    display: block;
    margin-right: 0;
  }

  .blogPostItemIcon {
    display: none;
  }

  .blogPostItem {
    text-align: center;
  }
}