:root {
  --green: #65e298;
  --orange: #e29865;
  --blue: #6598e2;
  --yellow: #e2d565;
  --red: #e63f3f;
  --dark0: #1c1f23;
  --dark1: #21232a;
  --dark2: #35373c;
  --light1: #f2f2f2;

  --navWidthLarge: 360px;
  --navWidthSmall: 180px;
}

body {
  background: var(--dark1);
  color: var(--light1);
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
}

a {
  color: var(--light1);
}

a:hover {
  color: var(--light1);
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

.app {
  display: flex;
}

.main {
  margin-left: var(--navWidthLarge);
  width: 100%;
}

/* ------------- */
/* Media Queries */
/* ------------- */
@media (max-width: 1080px) {
  .main {
    margin-left: var(--navWidthSmall);
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.4rem;
  }

  .main {
    margin-left: 0;
  }
}

/* ---------- */
/* Animations */
/* ---------- */
.fadeLeft {
  transform: translateX(-10%);
  opacity: 0;
}

.fadeRight {
  transform: translateX(10%);
  opacity: 0;
}

.fade {
  opacity: 0;
}